html {
    scroll-behavior: smooth;
  }

.navbar{
    background: #fff;
    box-shadow: 2px 2px 5px  rgba(50, 146, 166);
    opacity: 0.9;
}

.navbar .nav-item{
    font-size: 25px;
    padding-right: 25px;
}

#showcase .primary-overlay{
    background: rgba(50, 146, 166, 0.8);
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#showcase{
    background: url("/img/mountains.jpg");
    position: relative;
    min-height: 600px;
}
.bg-primary {
    background-color: rgba(50, 146, 166) !important;
}

.btn-primary{
    background-color: rgba(50, 146, 166) ;
}

.info-header{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd;
   
}


.text-primary{
    color: rgba(50, 146, 166) !important;
}

#authors img{
    margin-top: -50px;
}

#authors .card :hover{
    background-color: rgba(50, 146, 166);
    color: white;
}

@media(max-width:768px){
    #showcase{
        min-height: 500px;
    }
}

.uppercase-rr {
    text-decoration: line-through;
}